interactions:
- request:
    body: !!python/unicode '{"from_state": "PA", "line_items": [{"product_tax_code":
      false, "discount": 0.0, "id": "The Same UUID!", "unit_price": 79.0, "quantity":
      2.0}], "to_zip": "89015", "from_street": "1725 Slough Ave.", "from_zip": "18540",
      "to_street": "240 S Water St.", "shipping": 0.0, "from_country": "US", "to_city":
      false, "to_country": "US", "from_city": "Scranton", "to_state": "NV"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: http://api.taxjar.com/v2/taxes
  response:
    body: {string: !!python/unicode '{"tax":{"order_total_amount":158.0,"shipping":0.0,"taxable_amount":158.0,"amount_to_collect":13.04,"rate":0.0825,"has_nexus":true,"freight_taxable":false,"tax_source":"destination","breakdown":{"taxable_amount":158.0,"tax_collectable":13.04,"combined_tax_rate":0.0825,"state_taxable_amount":0.0,"state_tax_rate":0.0,"state_tax_collectable":0.0,"county_taxable_amount":158.0,"county_tax_rate":0.0825,"county_tax_collectable":13.04,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_tax_collectable":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_tax_collectable":0.0,"line_items":[{"id":"The
        Same UUID!","taxable_amount":158.0,"tax_collectable":13.04,"combined_tax_rate":0.0825,"state_taxable_amount":0.0,"state_sales_tax_rate":0.0,"state_amount":0.0,"county_taxable_amount":158.0,"county_tax_rate":0.0825,"county_amount":13.04,"city_taxable_amount":0.0,"city_tax_rate":0.0,"city_amount":0.0,"special_district_taxable_amount":0.0,"special_tax_rate":0.0,"special_district_amount":0.0}]}}}'}
    headers:
      content-type: [application/json]
      etag: [W/"19ea5f1cbb7f4b06f4bbb1edbaf1ec03"]
    status: {code: 200, message: OK}
version: 1
