interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.taxjar.com/v2/categories
  response:
    body: {string: !!python/unicode '{"categories":[{"name":"Digital Goods","product_tax_code":"31000","description":"Digital
        products transferred electronically, meaning obtained by the purchaser by
        means other than tangible storage media."},{"name":"Clothing","product_tax_code":"20010","description":"
        All human wearing apparel suitable for general use"},{"name":"Non-Prescription","product_tax_code":"51010","description":"Drugs
        for human use without a prescription"},{"name":"Prescription","product_tax_code":"51020","description":"Drugs
        for human use with a prescription"[...]
